.landingWrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  height: 100vh;
  overflow-y: auto;

  padding: 1.4rem;
}

.cards{
  display: flex;
  gap: 1rem;
}