.chartContainer{
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 970px;
  height: 370px;

  background: var(--secondary);
}

.chartHeader{
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  margin-left: 5rem;

  > h3{
    font-weight: 400;
    font-size: 18px;

    color: var(--gray);
  }

  > svg{
    font-size: 28px;
    color: var(--alt-blue);
    cursor: pointer;

    transition: .25s all;
  }
}