.stockContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  
  height: 120px;
  width: 320px;
  
  background: var(--secondary);

  div{
    width: 100%;
    max-width: 100px;

    > h4{
      color: var(--gray);
      font-size: 18px;
      font-weight: 400;

      margin-bottom: 0.5rem;
    }

    > strong{
      font-family: Roboto, sans-serif;
      font-size: 30px;
      color: var(--alt-blue);
    }
  }

  img{
    height: 80px;
    width: auto;
  }
}