.sideMenu{
  grid-area: aside;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  background: var(--main);

  nav{
    width: 100%;
    display: flex;
    flex-direction: column; 

    > a{
      display: flex;
      position: relative;
      justify-content: space-evenly;
      align-items: center;

      height: 50px;
      width: 100%;

      margin-top: 0.2rem;
      
      font-size: 18px;  
      color: var(--blue);

      > svg{
        margin-left: 1rem;
        font-size: 30px;
      }

      &:hover{
        .tag{
          display: block;
        }
      }
    }
  }
}

.tag{
  display: none;
  position: absolute;
  left: 0;

  height: 100%;
  width: 4px;
  background: var(--blue);
  transition: all .4s;
}