.sideMenu{
  grid-area: aside;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  background: var(--main);


  h2{
    position: absolute;
    top: 8rem;
    color: var(--blue);
    font-size: 18px;
    font-weight: 400;
  }

  nav{
    width: 100%;
    display: flex;
    flex-direction: column;

    > a{
      display: flex;
      position: relative;
      justify-content: space-evenly;
      align-items: center;

      height: 50px;
      width: 100%;

      margin-top: 0.2rem;
      
      font-size: 14px;  
      color: var(--blue);

      > svg{
        margin-right: 1rem;
        font-size: 25px;
      }

      &:hover{
        .tag{
          display: block;
        }
      }
    }
  }

  footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 100%;

    border: 1px solid var(--blue);
    border-bottom: none;
    border-left: none;

    color: var(--blue);

    >strong{
      font-weight: 500;
    }

    >svg{
      margin-right: 0.8rem;
      font-size: 20;
    }
  }

}

.imageWrapper{
  position: absolute;
  top: 1.5rem;

  >svg{
    font-size: 90px;
    border-radius: 50%;
    background: var(--light-blue);
    fill: var(--main);
    padding: 2px;
  }
}

.tag{
  display: none;
  position: absolute;
  left: 0;

  height: 100%;
  width: 4px;
  background: var(--blue);
  transition: all .4s;
}