* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  cursor: pointer;
}

html, body, #root{
  height: 100vh;
  font-family: Poppins, sans-serif;
}

// creating color variables
:root{
  --main: #142133;
  --background: #2c3445;
  --secondary: #252a3d;
  --white: #f9f9f9;
  --gray: #c2c2c9;
  --blue: #0178ef;
  --light-blue: #54bfd3;
}