.meta{
  width: 300px;
  height: 120px;

  padding: 1rem;

  color: var(--gray);
  background: var(--secondary);
  font-size: 14px;

  position: relative;

  strong{
    font-size: 16px;
    color: #28a745;
  }

  svg{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 23px;
    
    cursor: pointer;
  }
}
