.meta{
  width: 300px;
  height: 120px;

  padding: 1rem;

  color: var(--gray);
  background: var(--secondary);
  font-size: 14px;

  position: relative;

  strong{
    font-size: 16px;
    color: #28a745;

  }

  svg{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 23px;
    
    cursor: pointer;
  }
}

.noMeta{
  >p{
    font-size: 13px;
    font-weight: 400;

    color: var(--gray);
  }

  >button{
    margin-top: 0.5rem;
    padding: 6px 10px;

    background: var(--alt-blue);
    color: var(--white);
    border: none;
    border-radius: 2px;

    transition: .3s all;

    &:hover{
      background-color: #2b8a7f;
    }
  }
}
