.salesContainer{
  width: 100%;
  max-width: 1280px;

  margin: 0 auto;

  padding: 1.4rem;
}

.salesList{
  height: calc(100vh - 170px);
  overflow-y: auto;
  overflow-x: hidden;

  >h4{
    color: var(--gray);
    font-weight: 400;
    margin-left: 2rem;
  }
}

::placeholder {
  color: var(--gray);
}

.filters{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

  input{
    height: 35px;
    width: 100%;
    max-width: 400px;

    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: var(--white);

    background: var(--dark-gray);
    outline: none;
    border: none;
    border-radius: 2px;
    padding-left: 1rem;
  }

  >div{
    width: 100%;
    max-width: 400px;
    display: flex;
    position: relative;

    >svg{
      font-size: 18px;
      color: var(--white);
      position: absolute;
      top: 8px;
      right: 1rem;

      cursor: pointer;
    }
  }


  button{
    background: var(--dark-gray);
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 35px;

    > svg{
      font-size: 22px;
      color: var(--gray);
  
      cursor: pointer;
  
      transform: rotate(90deg);
      transition: 0.1s;
    }

  }

  a{
    color: var(--blue);
    transition: 0.2s all;
    font-size: 18px;

    &:hover{
      color: #025fbd;
    }
  }
}