.overlay{
  background-color: rgba(19, 19, 19, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}


.modalContainer{
  width: 405px;
  max-width: 800px;
  padding: 1rem;
  
  height: fit-content;
  max-height: 250px;

  background: var(--background);
  box-shadow: 0 0 60px rgba(0,0,0,0.05);
  text-align: start;
  
  border-radius: 5px;
  position: relative;

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    
    svg{
      font-size: 5rem;
      color: var(--error);
      margin-bottom: 1rem;
    }
  
    span{
      color: var(--warning);
      font-size: 16px;
    }

    p{
      color: var(--gray);
      font-size: 14px;
    }
  }

  .buttons{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    height: fit-content;


    button{
      height: 35px;
      width: 88px;
      padding: 4px 0;
      border-radius: 2px;
      border: none;
      outline: none;

      transition: all .3s;

    }
    :nth-child(1){
      background: var(--blue);
      color: var(--white);

      &:hover{
        background: var(--blue-hover);
      }
    }
    :nth-child(2){
      background: var(--error);
      color: var(--white);

      &:hover{
        background: #aa2a36;
      }
    }
  }
} 