.salesPageWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 1.4rem;
  position: relative;

  .backArrow{
    display: flex;
    align-items: center;
    gap: 0.3rem;

    position: absolute;
    left: 1.5rem;
    top: 4rem;
    
    cursor: pointer;
    color: var(--blue);

    transition: 0.3s;
    
    a{
      color: inherit;
    }

    >svg{
      font-size: 50px;
    }

    &:hover{
      color: var(--blue-hover)
    }
  }
}

.formContainer{
  max-width: 400px;
  background: var(--secondary);
  text-align: center;

  >h2{
    font-weight: 400;
    color: var(--gray);
    margin-top: 0.5rem;
  }

  form{
    
    margin: 2rem;

    display: flex;
    flex-direction: column;


    // border: 1px solid black;

    gap: 1rem;

    fieldset{
      width: 335px;
      display: flex;

      gap: 0.6rem;
      border: none;
      >input{
        width: 100%
      }
    }
    
    input{
      height: 40px;
      font-size: 14px;
      font-family: Roboto, sans-serif;
      color: var(--white);

      padding-left: 1rem;
      padding-right: 0.5rem;

      border: none;
      // border-bottom: 4px solid var(--blue);
      border-radius: 2px;
      
      outline: none;
      background: var(--dark-gray);

    }
    
    ::-webkit-calendar-picker-indicator {
      filter: invert(80%);
    }

    ::placeholder {
      color: var(--gray);
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }
    
    > textarea{
      background: var(--dark-gray);
      border: none;
      border-radius: 2px;

      font-size: 14px;
      font-family: Roboto, sans-serif;
      color: var(--white);

      padding: 1rem;

      outline: none;
      resize: none;
      // border-bottom: 4px solid var(--blue);
    }

    > button{
      height: 45px;
      border-radius: 30px;
      border: none;

      background: var(--alt-blue);
      color: var(--white);
      font-size: 16px;
      font-weight: 600;

      transition: 0.3s all;

      &:hover{
        background-color: #2b8a7f;
      }
    }
  }
}

